<!-- <h1>Hello, {{title}}</h1> -->

<!-- Alternative rendering -->
<!-- <h1 [innerText]="'My title'"></h1> -->

@if(products.length > 0) {
<h1>Products ({{ products.length }})</h1>
}


<ul class="pill-group">
  @for (product of products; track product.id; let i = $index ) {
  <li class="pill">
    @switch (product.title) {
    @case ('Keyboard') { ⌨️ }
    @case ('Microphone') { 🎙️ }
    @default { 🏷️ }
    }
    {{i+1}}. {{product.title}}</li>
  } @empty {
  <p>No products found!.</p>
  }
</ul>

<p [style]="currentClasses"></p>
